@font-face {
     font-family: 'Advercase';
     src: url('./fonts/AdvercaseFont-Demo-Regular.otf') format('opentype');
     font-weight: 400;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Advercase';
     src: url('./fonts/AdvercaseFont-Demo-Bold.otf') format('opentype');
     font-weight: 700;
     font-style: normal;
   }